name: Update major version branch on release
on:
  release:
    types: [published]
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for git push
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Update major version branch
      env:
        RELEASE_TAG: ${{ github.event.release.tag_name }}
      run: |
        branch=${RELEASE_TAG%%.*}
        git push origin HEAD:$branch
