name: Update major version branch on release
on:
  release:
    types: [published]
permissions:
  contents: read
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # for git push
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0
    - name: Update major version branch
      run: |
        tag=${{ github.event.release.tag_name }}
        branch=${tag%%.*}
        git push origin HEAD:$branch
